<!-- blogapp/templates/home.html -->
{% extends 'base.html' %}

{% block title %}Mark Kleinhaus{% endblock %}

{% block content %}
<div class="resume">
    <h1 id="title">Mark Kleinhaus</h1>
    <ul>
        <li><a href="https://www.linkedin.com/in/markkleinhaus/" target="_blank">linkedin.com/in/markkleinhaus</a></li>
        <li><a href="https://github.com/Flite999" target="_blank">github.com/Flite999</a></li>
    </ul>
    <h2>Staff Software Engineer | SRE | Devops | Cloud Architecture | Mobile Development | Builder & Mentor</h2>
    <p> Staff Software Engineer based out of Portland, OR with over a decades worth of experience in both startups and Fortune 500 companies. I have a strong systems, automation, and software development background. Most recently I led SRE initiatives and devops automation projects at Capital One. I also have mobile development experience in Flutter. I am passionate about mentoring and coaching fellow engineers. If you would like to collaborate on a project, please reach out on <a href="https://www.linkedin.com/in/markkleinhaus/" target="_blank">LinkedIn</a> or <a href="https://github.com/Flite999" target="_blank">Github</a>. I am also available for consulting at <a href="https://fliteconsulting.io" target="_blank">fliteconsulting.io</a></p>
    <h2> Skills </h2>
    <ul>
       <li> Python, Typescript, Javascript, Dart </li>
       <li> React, Flutter, Node.js, Django, Angular, Flask </li>
       <li> Ability to quickly learn new frameworks and languages </li>
       <li> Advanced knowledge of cloud platforms like AWS, and on-premise data centers </li>
       <li> Advanced knowledge of the developer lifecycle; CI/CD, container orchestration, testing, monitoring, and deployment </li>
       <li> Ability to write clear and maintainable code </li>
       <li> Ability to communicate well with both technical and non-technical audiences </li>
    </ul>
    <h2> Experience </h2>
    <h3> Capital One, Apr 2019  - July 2024 </h3>
    <ul>
        <li> Staff Software Engineer </li>
        <ul>
            <li> Led the automation of AWS infrastructure using Python, streamlining deployment processes for hundreds of developer teams across the enterprise.
            </li>
            <li> Architected and developed a scalable caching layer, enhancing the performance and reliability of the Content Management System, allowing for faster data retrieval and content publishing across the platform.
            </li>
            <li> Actively mentored and guided engineers on cloud best practices, fostering a culture of continuous improvement and collaboration across the company.
            </li>
        </ul>
        <li> Principal Software Engineer </li>
        <ul>
            <li> Architected the migration of the platform's CI/CD system to a new enterprise-standard platform, ensuring a smooth transition with minimal disruptions to development teams.</li>
            <li> Collaborated closely with product managers and cybersecurity teams to meet stringent cyber requirements and manage the timely remediation of security vulnerabilities.
            </li>
            <li> Implemented observability tools and improved incident response processes, ensuring quicker identification and resolution of platform issues.
            </li>
        </ul>
        <li> Principal Platform Engineer </li>
        <ul>    
            <li> Overhauled IAM architecture for an internal log shipping tool, remediating security issues and allowing for future modifications.

            </li>
            <li> Served as an SRE consultant for multiple application teams, providing guidance and hands-on code updates around observability, resiliency, and pipeline improvements. 
            </li>
            <li> Created an application risk assessment tool using React, Flask, DynamoDB, and Lambda. Led development efforts and managing contributor onboarding.
            </li>
            <li> Collaborated with teams to ensure s3 bucket policies for cloudfront distributions meet cyber requirements, achieving remediation with zero website downtime.
            </li>
        </ul>
    </ul>
    <h3> Avalara, Apr 2015 - Apr 2018 </h3>
        <ul>
            <li>Systems Engineer</li>
            <ul>
                <li>Automated repeated IT processes using Ansible playbooks and Powershell scripts, such as user onboarding and AD attribute updates.</li>
                <li>Enhanced corporate system resilience by improving backup technology SLA and addressing vulnerabilities.</li>
                <li>Led a major email infrastructure migration project, transitioning thousands of mailboxes with no downtime to hundreds of users.</li>
            </ul>
            <li>Site Manager-Desktop Services Lead, Systems Administrator</li>
            <ul>
                <li>Managed a team of junior admins focused on improving ticket metrics, documentation, and process enhancement.</li>
                <li>Optimized the SCCM environment for OS/Application deployment and security enhancements.</li>
                <li>Led IT Service Desk efforts during office relocations, ensuring resource availability upon move-in.</li>
            </ul>
        </ul>
    <h2>Education</h2>
    <ul>
        <li>University of Wisconsin-Madison
            <ul>
                <li>Bachelor of Arts (B.A.), English Language and Literature/Letters (2003 - 2007)</li>
            </ul>
        </li>
        <li>University of Massachusetts Lowell
            <ul>
                <li>Introduction to Java (2020)</li>
            </ul>
        </li>
    </ul>
    <h2>Licenses and Certifications</h2>
    <ul>
        <li>Machine Learning Engineering Training Program, Capital One (Jun 2023)</li>
        <li>Amazon Web Services Developer - Associate, AWS (Jan 2020)</li>
        <li>JNCIA, Juniper Networks (Nov 2017)</li>
        <li>CCNA</li>
    </ul>
    <h2>Volunteering</h2>
    <ul>
        <li>Volunteer, Meals on Wheels (Oct 2023 - Present)
            <ul>
                <li>Delivering meals and other assistance to local elderly communities.</li>
            </ul>
        </li>
        <li>Mentor, CodePath (May 2022 - Present)
            <ul>
                <li>Teaching coding challenge strategies to junior BIPOC software engineers.</li>
            </ul>
        </li>
        <li>Diamond Challenge Virtual Judge, Diamond Challenge (Jan 2020 - Aug 2020)
            <ul>
                <li>Coached and mentored high school entrepreneurial efforts.</li>
            </ul>
        </li>
    </ul>
    <h2>Languages</h2>
    <ul>
        <li>English, Korean, Spanish</li>
    </ul>


</div> 
{% endblock %}